body {

    margin: 0;

    padding: 0;

    background-color: rgb(0, 0, 0);

}



/* Estilo para los botones */

.botones_principales {

    width: 100%; 

    text-align: right; 

    background-color: rgb(0, 0, 0);

}



.botones_principales a {

    display: inline-block;

    padding: 10px 20px;

    margin-right: 10px;

    color: #fff;

    text-decoration: none;

    border-radius: 5px;

    border: none;

    cursor: pointer;

    transition: background-color 0.3s ease;

}



.botones_principales a:hover {

    background-color: #0056b3;

}

/* Estilo para el banner principal */

.encabezado {

    background-image: url('encabezado_principal.jpg'); 

    background-size: cover; 

    background-position: center; 

    color: #e7d20e; 

    text-align: center; 

    padding: 20px; 

    height: 300px;

}

Press Shift + Ta